  <!-- check if it has to be underlined -->
<% def current_class?(test_path) %>
  <% return ' btn-active' if request.path == test_path %>
  <% ' ' %>
<% end %>

<div class="container-navbar">
  <%= link_to root_path do %>
    <%= image_tag "logo_car.png", class: "logo" %>
  <% end %>
  <div class="container-buttons">
    <%= link_to "Home", root_path, class: "btn-navbar #{current_class?(root_path)}" %>
    <%= link_to "Profile", edit_user_registration_path, class: "btn-navbar #{current_class?(edit_user_registration_path)}" %>
    <%= link_to "Log out", destroy_user_session_path, method: 'delete', class: "btn-navbar " %>
    <%= cl_image_tag current_user.photo , class: "avatar" %>
  </div>
</div>
