<div class="profile-info">
  <%= cl_image_tag @user.photo, class: "profile-picture" %>
  <p class="profile-name"><b>Name:</b> <%= @user.first_name %> <%= @user.last_name %></p>
  <p><b>Located in:</b> <%= @user.location %></p>
  <p><b>About:</b> <%= @user.description %></p>
  <p><b>Contact me at:</b> <%= @user.email %></p>
  <% if current_user == @user %>
  <div class="hidden-info">
    <p>You have <b><%= @user.balance %>$</b> at the moment.</p><br>
    <%= link_to "Add 50 dollars", add50_path, class: "btn-profile" %><br>
    <%= link_to "Add new car", new_car_path, class: "btn-profile"  %>
  </div>
  <div class="center-self">
  <%= link_to "Edit info",edit_user_registration_path,class: "edit-profile-btn btn-profile" %>
  </div>
  <% end %>
  <% if user_signed_in? && @user != current_user %>
  <%= link_to "Start conversation with #{@user.first_name}", message_path(@user.id), class: "btn-profile" %>
  <% end %>
</div>


<div class="container-profile">
    <div class="cards-profile">
      <% @cars.each do |car| %>
        <%= link_to car_path(car) do %>
        <div class="card">
          <div class="card-body" style="background-image: linear-gradient(-150deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.3) 80%), url(<%= cl_image_path(car.photo) %>);">
            <div class="card-link">
              <div class="card-name">
                <%= car.name %><br>
              </div>
              <div class="card-location">
                <%= car.location %><br>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-date">
              <p>Posted on 03/02/2019</p>
            </div>
            <div class="card-average">
              <%= raw " <i class='fas fa-star'></i> " * car.gimme_average %>
            </div>
            <div class="card-price">
              <a>€<%= car.price %>/day</a>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>

