

<div class="container-show">
  <div class="title-show" >
    <h2><%= @car.name %> Details</h2>
  </div>
  <div class="cards">
    <div class="show-card">
      <ul>
        <li><strong>Car Name: </strong><%= @car.name %></li>
        <li><strong>Car Description: </strong><%= @car.description %></li>
        <li><strong>Year: </strong><%= @car.year %></li>
        <li><strong>Make: </strong><%= @car.make %></li>
        <li><strong>Model: </strong><%= @car.model %></li>
        <li><strong>Total Kilometers: </strong><%= @car.kilometers %></li>
        <li><strong>Capacity: </strong><%= @car.capacity %></li>
        <li><strong>Air Conditioning? </strong><%= @car.ac ? "Yes" : "No" %></li>
        <li><strong>Fuel Type: </strong><%= @car.fuel %></li>
        <li><strong>Fuel Consumption: </strong><%= @car.consumption %></li>
        <li><strong>Minimum Age Allowed to Book this Car: </strong><%= @car.min_age %></li>
        <li><strong>Price: </strong><%= @car.price %></li>
      </ul>
    </div>
    <div class="photo-card">
    <img src='<%= cl_image_path(@car.photo) %>' height="300" width="500">
    </div>
    </div>
  </div>
</div>
<br>
<div class="container-review">
<h3 id="review-title"><%= "-" * 10 %> Reviews <%= "-" * 10 %></h3>
<br>
<br>
<% @reviews.each do |review| %>
<%= review.rating %> --
<%= review.description %><br>
<% end %>
</div>
<br>

<div class="container-review">
  <%= link_to "Add review", new_car_review_path(@car.id), class: 'add-review-btn' %>
  <%= link_to "Go back to list", cars_path, class: 'go-home-btn' %>
</div>
